/* 
    ? CSS (Cascading Style Sheets)
    * "skin" of your elements
    * we use CSS to style and position our elements
    * consists of rulesets which have:
        * selectors
        * declaration
        * properties
        * values
    
    Syntax:

    Ruleset

    selector {
        declaration

        property: value;
        property: value;
    }

*/

body {
    /* order of specificity shown here */
    background-color: #bebebe !important;
    font-family: Arial, Helvetica, sans-serif;
}

/* This means an id attribute with a value of welcome */
#welcome {
    color: white;
    font-size: 50pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* This means a class attribute with a value of nav-links */
.nav-links {
    color: rebeccapurple;
    font-size: 20pt;
}

#box-model-example {
    border: 2px solid red;
    padding: 25px;
    margin: 2em;
}